---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts.ts';
import { getCollection, type CollectionEntry } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import { baseUrl } from '../../utils/common.ts';
import { type Page, type GetStaticPaths } from 'astro';

export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
  const stickPost: CollectionEntry<'blog'>[] = [];
  const otherPost: CollectionEntry<'blog'>[] = [];
  (await getCollection('blog')).forEach(item => {
    if (typeof item.data.sticky === 'number') {
      stickPost.push(item);
    } else {
      otherPost.push(item);
    }
  });
  stickPost.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
  otherPost.sort((a, b) => (a.data?.sticky || 0) - (b.data?.sticky || 0));
  const posts = [...stickPost, ...otherPost];
  return paginate(posts, { pageSize: 2 });
};
const { page } = Astro.props as { page: Page };
---

<!doctype html>
<html lang='zh'>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      @font-face {
        font-family: 'Ubuntu';
        src: url(/fonts/Ubuntu-Regular.woff2),
          url(/astro-blog/fonts/Ubuntu-Regular.woff2);
        font-weight: 400;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: 'Noto Sans SC';
        src: url(/fonts/NotoSansSC-Medium.woff2),
          url(/astro-blog/fonts/NotoSansSC-Medium.woff2);
        font-weight: 400;
        font-style: normal;
        font-display: swap;
      }
    </style>
    <style lang='scss'>
      main {
        width: 960px;
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
          width: calc(32% - 1rem);
          * {
            text-decoration: none;
            transition: 0.2s ease;
          }
          img {
            margin-bottom: 0.5rem;
            border-radius: 12px;
          }
          a {
            display: block;
            &:hover {
              h4,
              .date {
                color: rgb(var(--theme1-color1));
              }
              img {
                box-shadow: var(--box-shadow);
              }

              .sticky-svg {
                > path {
                  fill: var(--theme1-color1);
                }
              }
            }
          }
        }
      }

      .sticky-svg {
        font-size: 16px;
        height: 1.5em;
        width: 1.5em;
        > path {
          fill: #000;
        }
      }

      .title {
        margin: 0;
        color: rgb(var(--black));
        line-height: 1;
      }
      .date {
        margin: 0;
        color: rgb(var(--gray));
      }
      @media (max-width: 720px) {
        ul {
          gap: 0.5em;
        }
        ul li {
          width: 100%;
          text-align: center;
        }
        ul li:first-child {
          margin-bottom: 0;
        }
        ul li:first-child .title {
          font-size: 1.563em;
        }
      }
      .pagination {
        margin-top: 2em;
        text-align: right;
        a {
          display: inline-block;
          text-decoration: none;
          margin-right: 0.6em;
        }
        button {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 6em;
          height: 2em;
          line-height: 2em;
          border: 1px solid #ccc;
          border-radius: 8px;
          span {
            display: inline-block;
            vertical-align: middle;
            line-height: 0.8em;
            height: 0.9em;
          }
        }
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <section>
        <ul>
          {
            page.data.map(post => (
              <li>
                <a href={`${baseUrl}/blog/${post.slug}/`}>
                  <img
                    width={720}
                    height={360}
                    src={`${baseUrl}${post.data.heroImage}`}
                    alt=''
                  />
                  <h4 class='title'>
                    {post.data.title}
                    {typeof post?.data?.sticky === 'number' && (
                      <svg
                        class='sticky-svg'
                        viewBox='0 0 1024 1024'
                        version='1.1'
                        xmlns='http://www.w3.org/2000/svg'
                        p-id='5556'
                        width='16'
                        height='16'
                      >
                        <path
                          d='M256 74.666667a53.333333 53.333333 0 1 0 0 106.666666h512a53.333333 53.333333 0 1 0 0-106.666666H256zM549.717333 260.949333a53.333333 53.333333 0 0 0-75.434666 0l-256 256a53.333333 53.333333 0 0 0 75.434666 75.434667l165.12-165.12V896a53.333333 53.333333 0 1 0 106.666667 0V427.605333l164.778667 164.778667a53.333333 53.333333 0 0 0 75.434666-75.434667l-256-256z'
                          p-id='5557'
                        />
                      </svg>
                    )}
                  </h4>
                  <p class='date'>
                    <FormattedDate date={post.data.pubDate} />
                  </p>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
      <div class='pagination'>
        {
          page.currentPage !== 1 && (
            <a href={`${baseUrl}${page.url.prev}`}>
              <button>
                <span>pre</span>
              </button>
            </a>
          )
        }
        {
          page.currentPage !== page.lastPage && (
            <a href={`${baseUrl}${page.url.next}`}>
              <button>
                <span>next</span>
              </button>
            </a>
          )
        }

        <span>{page.currentPage}/{page.lastPage}</span>
      </div>
    </main>
    <Footer />
  </body>
</html>
